@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Rubik:wght@300;400;500;700&display=swap');
@import './reset.css';
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #111;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: #111;
}
button {
  font-family: 'Rubik', sans-serif;
}
.gutter {
  background-color: #111;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}
